@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@900&display=swap");
@import "animation";

$background: rgb(25, 25, 25);
$color-light: #7c83fd;
$color-dark: #96baff;

@mixin responsive($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

html {
	z-index: -100;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
	color: white;
	user-select: none;
	overflow-x: hidden;
}

body {
	background: $background;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#canvas {
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100vh;
}

#home {
	min-height: 100vh;
	position: relative;
}

.p-absolute {
	position: absolute;
	width: 100%;
	opacity: 0.25;
	bottom: 0%;
	left: 0;
}
.navbar {
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include responsive(900px) {
		padding: 1em 1em;
	}

	.navbar-brand {
		font-size: 32px;
		font-weight: bold;
		color: white;
		text-decoration: none;
		display: flex;
		align-items: center;

		img {
			width: 75px;
			height: 75px;
		}

		.font-lower {
			font-size: 16px;
		}
	}

	.nav-links {
		display: inline;
		width: 100%;
		text-align: end;

		.nav-link {
			color: white;
			text-decoration: none;
			margin-left: 1em;
		}
	}
}

.square-button {
	border: none;
	text-decoration: none;

	margin-top: 1em;
	margin-right: 1em;
	padding: 1em 2em;
	font-size: 24px;
	position: relative;
	background-color: transparent;
	border: 1px solid white;
	cursor: pointer;
	text-align: center;

	@include responsive(1200px) {
		font-size: 20px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background: #538a6f;
		height: 100%;
		z-index: 1;
		transition-duration: 800ms;
		width: 0%;
	}

	&::after {
		content: "";
		color: white;
		position: relative;
		z-index: 2;
	}

	&:hover {
		&::before {
			width: 100%;
		}
	}
}

.container {
	margin: 2em 7em;

	@include responsive(900px) {
		// margin: 2em;
		padding: 2em;
		margin: 0 2em;
	}

	.heading {
		display: flex;
		align-items: center;

		@include responsive(900px) {
			flex-direction: column-reverse;
		}

		.first {
			flex: 2;
			h1 {
				width: 75%;
				font-size: 74px;
				font-weight: 900;
				word-wrap: break-word;
				position: relative;
				color: white;
				text-shadow: -1px -1px 1px $color-light,
					-1px 1px 1px $color-light, 1px -1px 1px $color-light,
					1px 1px 1px $color-light, 0 0 3px $color-light,
					0 0 10px $color-light, 0 0 20px $color-light,
					0 0 30px $color-dark, 0 0 40px $color-dark,
					0 0 50px $color-dark, 0 0 70px $color-dark,
					0 0 100px $color-dark, 0 0 200px $color-dark;

				@include responsive(1300px) {
					width: 85%;
					font-size: 54px;
				}

				@include responsive(900px) {
					width: 100%;
					font-size: 42px;
				}
			}

			h3 {
				font-size: 32px;
				font-weight: 500;
				color: grey;
				margin: 0;
				padding: 0;

				@include responsive(500px) {
					font-size: 20px;
				}
			}
		}

		.image {
			flex: 1;
			text-align: center;
			position: relative;
			align-items: center;
			justify-content: center;

			img {
				width: 90%;
				border-radius: 50%;

				// &:nth-of-type(even) {
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	z-index: -1;
				// 	width: 100%;
				// }
			}
		}
	}
	.buttons {
		display: flex;
		margin-top: 3em;
		margin-bottom: 5em;

		@include responsive(500px) {
			flex-direction: column;
		}

		.visit-blog {
			&::after {
				content: "Visit Blog";
			}
		}

		.contact {
			&::after {
				content: "Contact me";
			}
		}
	}
}

#skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1em;
	position: relative;

	.p-absolute {
		top: 0%;
	}

	h1 {
		font-size: 42px;
		margin: 0;
		padding: 0;

		@include responsive(500px) {
			font-size: 32px;
		}
	}

	h3 {
		// font-size: 32px;
		margin-bottom: 5em;
		color: grey;
		text-align: center;

		@include responsive(500px) {
			font-size: 16px;
		}
	}

	.skills {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		padding: 0 0 5em 0em;

		.heading {
			flex: 1;
			text-align: center;
			transform: rotateZ(-90deg);

			@include responsive(900px) {
				display: none;
			}

			h1 {
				font-size: 42px;
				font-weight: bolder;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translate(-50%);
					width: 50%;
					height: 5px;
					background: white;
				}
			}
		}
		.d-grid {
			display: grid;
			grid-template-columns: auto auto auto auto;
			grid-gap: 3em;
			flex: 6;
			margin-right: 7em;

			@include responsive(1700px) {
				grid-template-columns: auto auto auto;
				place-items: center;
			}

			@include responsive(1300px) {
				grid-template-columns: auto auto;
				place-items: center;
			}

			@include responsive(900px) {
				margin-right: 0;
			}

			@include responsive(500px) {
				grid-template-columns: auto;
				margin-right: 0;
				place-items: center;
			}

			.grid-image {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 10px;
				box-shadow: 0 0 25px 1px black;
				width: 300px;
				height: 300px;
				perspective: 3;
				transition-duration: 400ms;
				position: relative;
				transform-style: preserve-3d;
				backface-visibility: hidden;
				padding: 1em;

				@include responsive(800px) {
					height: 200px;
					width: 200px;
				}

				&::before {
					content: attr(data-content);
					box-shadow: 0 0 25px 1px black;
					display: grid;
					place-items: center;
					text-align: center;
					font-weight: 500;
					// padding: 0 1em;
					font-size: 20px;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 10px;
					transform: rotateY(180deg);
					backface-visibility: hidden;

					@include responsive(1000px) {
						font-size: 12px;
					}
				}

				&:hover {
					transform: rotateY(180deg);
				}

				h3 {
					margin: 0;
					padding-top: 1em;
				}

				img {
					// width: 125px;
					height: 100%;

					@include responsive(500px) {
						flex-direction: column;
					}
				}

				.invert {
					filter: invert(1);
				}
			}
		}
	}
}

#blogs {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;

	.p-absolute {
		top: 0;
		z-index: -1;
		width: 120%;
		// height: 100%;

		@include responsive(1000px) {
			display: none;
		}
	}

	.bottom-0 {
		bottom: 0;
	}

	.headings {
		padding: 1em;
		text-align: center;
		h1 {
			font-size: 42px;
			margin: 0;
			padding: 0;

			@include responsive(900px) {
				font-size: 32px;
			}
		}

		h3 {
			margin-bottom: 5em;
			color: grey;
			text-align: center;

			@include responsive(900px) {
				font-size: 16px;
			}
		}
	}

	.blogs {
		column-count: 2;
		column-gap: 2em;
		padding: 0 5em;

		@include responsive(900px) {
			column-count: 1;
			padding: 0 2em;
		}

		.card {
			width: 100%;
			padding-bottom: 2em;
			border-radius: 15px;

			a {
				// height: 300px;
				img {
					width: 100%;
					height: auto;
					border-radius: 15px;
				}
			}
		}
	}
}

footer {
	position: relative;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.p-absolute {
		z-index: -1;
	}

	.footer-brand {
		font-size: 24px;
		font-weight: bold;
		color: white;
		text-decoration: none;
		text-align: center;

		@include responsive(600px) {
			font-size: 16px;
		}

		.m-5 {
			margin: 0 5% 5% 5%;
			font-size: 32px;
			a {
				color: grey;
				transition-duration: 400ms;
				&:hover {
					color: rgb(110, 110, 202);
				}
			}

			.font-lower {
				font-size: 20px;
				font-weight: normal;

				@include responsive(600px) {
					font-size: 16px;
				}
			}
		}

		img {
			width: 200px;
		}
	}

	.footer-links {
		margin-top: 2em;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 50%;
		border: 5px solid white;
		padding: 1em;

		@include responsive(1000px) {
			width: 75%;
		}

		.footer-link {
			font-size: 24px;
			color: #cfcfcf;
			// text-decoration: underline;
			font-weight: bolder;
			transition-duration: 400ms;

			@include responsive(600px) {
				font-size: 16px;
			}

			&:hover {
				color: rgb(110, 110, 202);
			}
		}
	}
}
