@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@900&display=swap");
html {
  z-index: -100;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
}

body {
  background: #191919;
}

a {
  text-decoration: none;
  margin: none;
  padding: none;
}

#canvas {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}

#home {
  min-height: 100vh;
}

.navbar {
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 1em 1em;
  }
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand img {
  width: 75px;
  height: 75px;
}

.navbar .navbar-brand .font-lower {
  font-size: 16px;
}

.navbar .nav-links {
  display: inline;
  width: 100%;
  text-align: end;
}

.navbar .nav-links .nav-link {
  color: white;
  text-decoration: none;
  margin-left: 1em;
}

.square-button {
  border: none;
  text-decoration: none;
  margin-top: 1em;
  margin-right: 1em;
  padding: 1em 2em;
  font-size: 24px;
  position: relative;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .square-button {
    font-size: 20px;
  }
}

.square-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #538a6f;
  height: 100%;
  z-index: 1;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  width: 0%;
}

.square-button::after {
  content: "";
  color: white;
  position: relative;
  z-index: 2;
}

.square-button:hover::before {
  width: 100%;
}

.container {
  margin: 2em 7em;
}

@media screen and (max-width: 900px) {
  .container {
    margin: 2em;
  }
}

.container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .container .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.container .heading .first {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.container .heading .first h1 {
  width: 75%;
  font-size: 74px;
  font-weight: 900;
  word-wrap: break-word;
  position: relative;
  color: white;
  text-shadow: -1px -1px 1px #7c83fd, -1px 1px 1px #7c83fd, 1px -1px 1px #7c83fd, 1px 1px 1px #7c83fd, 0 0 3px #7c83fd, 0 0 10px #7c83fd, 0 0 20px #7c83fd, 0 0 30px #96baff, 0 0 40px #96baff, 0 0 50px #96baff, 0 0 70px #96baff, 0 0 100px #96baff, 0 0 200px #96baff;
}

@media screen and (max-width: 1300px) {
  .container .heading .first h1 {
    width: 85%;
    font-size: 54px;
  }
}

@media screen and (max-width: 900px) {
  .container .heading .first h1 {
    width: 100%;
    font-size: 36px;
  }
}

.container .heading .first h3 {
  font-size: 32px;
  font-weight: 500;
  color: grey;
  margin: 0;
  padding: 0;
}

.container .heading .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.container .heading .image img {
  width: 75%;
  border-radius: 50%;
}

.container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  margin-bottom: 5em;
}

@media screen and (max-width: 500px) {
  .container .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .buttons .visit-blog::after {
  content: "Visit Blog";
}

.container .buttons .contact::after {
  content: "Contact me";
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
}

#skills h3 {
  margin-bottom: 5em;
  color: grey;
}

#skills .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 0 0 5em 0em;
}

#skills .skills .heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

#skills .skills .heading h1 {
  font-size: 42px;
  font-weight: bolder;
  position: relative;
}

#skills .skills .heading h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 50%;
  height: 5px;
  background: white;
}

#skills .skills .d-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 3em;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  margin-right: 7em;
}

#skills .skills .d-grid .grid-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 25px 1px black;
          box-shadow: 0 0 25px 1px black;
  width: 300px;
  height: 300px;
  -webkit-perspective: 3;
          perspective: 3;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#skills .skills .d-grid .grid-image::before {
  content: attr(data-content);
  -webkit-box-shadow: 0 0 25px 1px black;
          box-shadow: 0 0 25px 1px black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#skills .skills .d-grid .grid-image:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#skills .skills .d-grid .grid-image h3 {
  margin: 0;
  padding-top: 1em;
}

#skills .skills .d-grid .grid-image img {
  height: 200px;
}

#skills .skills .d-grid .grid-image .invert {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blogs h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
}

#blogs h3 {
  margin-bottom: 5em;
  color: grey;
}
/*# sourceMappingURL=style.css.map */